Add retry-after header to rate limit responses

As of https://github.com/letsencrypt/boulder/pull/6225, some of our rate limits will include a human-readable "retry after" string in their error message. We should propagate the same value into a machine-readable `Retry-After: ` header in the HTTP response.

- [x] ~~New Orders (tracked in https://github.com/letsencrypt/boulder/issues/4104)~~ (would require replacing performant `count(1)` in `sa.CountOrders()`
- [x] ~~Failed Validations~~ (would require replacing performant `count(1)` in `sa.CountInvalidAuthorizations2()`
- [x] ~~Accounts per IP Address~~ (would require replacing performant `count(1)` in `sa.CountRegistrationsByIP()`)
- [x] ~~Accounts per IP Range~~ (would require replacing performant `count(1)` in `sa.CountRegistrationsByIPRange()`)
- [x] Duplicate Certificates (#6256)
- [x] Certificate per Registered Domain (Now being tracked in #6465)

I have been reminded that [RFC 8555, Section 6.6](https://www.rfc-editor.org/rfc/rfc8555.html#section-6.6), contains the following text:

> Creation of resources can be rate limited by ACME servers to ensure
   fair usage and prevent abuse.  Once the rate limit is exceeded, the
   server MUST respond with an error with the type
   "urn:ietf:params:acme:error:rateLimited".  Additionally, the server
   SHOULD send a Retry-After header field [[RFC7231](https://www.rfc-editor.org/rfc/rfc7231)] indicating when the
   current request may succeed again.  If multiple rate limits are in
   place, that is the time where all rate limits allow access again for
   the current request with exactly the same parameters.

> In addition to the human-readable "detail" field of the error
   response, the server MAY send one or multiple link relations in the
   Link header field [[RFC8288](https://www.rfc-editor.org/rfc/rfc8288)] pointing to documentation about the
   specific rate limit that was hit, using the "help" link relation
   type.

We should also include `Link: <https://letsencrypt.org/docs/rate-limits>;rel="help"` (or other more-specific URL as appropriate) headers in our responses as part of this same work.