VA could be tolerant of non-punycoded IDNs in HTTP redirects

Community thread: https://community.letsencrypt.org/t/domain-resolving-fails-but-works-elsewhere/104878

I believe what is happening is:

- VA performs HTTP request to `https://www.xn--kberring-65a.com/.well-known/acme-challenge/test`
- Response header: `Location: https://küberring.com/.well-known/acme-challenge/test`
- VA calls `bdns.LookupHost` on `küberring.com` and the DNS lookup fails, because by this point, it was assumed that the domain would be punycoded.

If you take a survey of other user agents like curl, browsers, wget etc, they appear to tolerate redirects other than ASCII encoding. That might suggest that Boulder could be tolerant as well.

Potentially `va.extractRequestTarget` could handle the punycoding of the host, allowing the redirect to be followed?

Thanks for filing this issue! In general we try to be conservative about what we accept, and in this particular case I believe that redirects containing U-label redirects violate the HTTP spec. Copied from the forum conversation:

From [RFC 3987 section 1.2](https://tools.ietf.org/html/rfc3987#section-1.2)
>   Practical use of IRIs (or IRI references) in place of URIs (or URI
>   references) depends on the following conditions being met:
>   a. A protocol or format element should be explicitly designated to be able to carry IRIs. The intent is not to introduce IRIs into contexts that are not defined to accept them. For example, XML schema [[XMLSchema](https://tools.ietf.org/html/rfc3987#ref-XMLSchema)] has an explicit type "anyURI" that includes IRIs and IRI references. Therefore, IRIs and IRI references can be in attributes and elements of type "anyURI". On the other hand, in the HTTP protocol [[RFC2616](https://tools.ietf.org/html/rfc2616)], the Request URI is defined as a URI, which means that **direct use of IRIs is not allowed in HTTP requests.**

(emphasis mine)

From [RFC 5890, Internationalized Domain Names for Applications (IDNA) section 4.6](https://tools.ietf.org/html/rfc5890#section-4.6):

> The URI Standard [[RFC3986](https://tools.ietf.org/html/rfc3986)] and a number of application specifications (e.g., SMTP [[RFC5321](https://tools.ietf.org/html/rfc5321)] and HTTP [[RFC2616](https://tools.ietf.org/html/rfc2616)]) do not permit non-ASCII labels in DNS names used with those protocols, i.e., only the A-label form of IDNs is permitted in those contexts.

So I'm considering this WONTFIX for now, but I'll leave it open for a little while pending further response on the forum thread.
