gen-ca should not require (or use) OCSP URI and CRLDP in root CA certificates

https://github.com/letsencrypt/boulder/blob/6692dd56282119cdc9e0c303c99df16698d4461a/cmd/gen-ca/main.go#L244-L249

cf. [RFC5280 §6.2](https://tools.ietf.org/html/rfc5280#section-6.2)

> The path validation algorithm presented in Section 6.1 does not assume that trust anchor information is provided in self-signed certificates and does not specify processing rules for additional information included in such certificates. Implementations that use self-signed certificates to specify trust anchor information are free to process or ignore such information.

Thanks for spotting this, out of interest are you using the `gen-{key,ca}` tools? We'd be interested in hearing any usability feedback you have if so.

I plan to use them. Should be much nicer than OpenSSL + HSM engine. 