LookupHosts should block addresses from more CIDRs

As of #739 `core.isPrivateV4` will throw an error if an address in one of the RFC 1918 networks or in the `127.0.0.0/8` loopback CIDR is returned from a resolver. There are probably more blocks this should block, to quote @jsha from #739 

> we should probably reject 255.* and 0.* as well.

[RFC 5735 Section 4](https://tools.ietf.org/html/rfc5735#section-4) provides a good breakdown of a few other CIDRs we should probably consider blocking.

Yep, everything in section 4 looks good. Let's block it all.

Might be a good idea to also block `100.64.0.0/10` as it's a non-public shared address space (used internally on carrier networks to implement CGN). See [RFC6598](https://tools.ietf.org/html/rfc6598#section-7).