crl-updater: consider including Issuing Distribution Point extension

The Issuing Distribution Point extension is a CRL extension profiled by [RFC 5280 Section 5.2.5](https://datatracker.ietf.org/doc/html/rfc5280#section-5.2.5). It has six subfields:

**`distributionPoint`**: this field is further profiled by [Section 4.2.1.13](https://datatracker.ietf.org/doc/html/rfc5280#section-4.2.1.13), which controls a similar field present in certificates. In a certificate, the purpose is to provide discoverability for the CRL which would (were the certificate to be revoked) contain the certificate. Because it is possible that a certificate may end up in one of multiple different CRLs based on its revocation reason, the distributionPoint field has complex semantics that allow multiple different CRLs to be pointed to. Section 5.2.5 says that, if this field is present, then its contents must match at least one of the distributionPoints contained in every certificate in the CRL's scope. It also says that, if the field is absent, then the CRL must cover *all* certificates within the CRL's scope (i.e. no segmenting based on revocation reason). Because our CRLs cover all certificates within their (expiration timestamp bucket based) scope, we do not need to include this field.

**`onlyContainsUserCerts`**: this field MUST be set to TRUE, because our CRLs only include end entity public key certificates.

**`onlyContainsCACerts`** and **`onlyContainsAttributeCerts`**: these fields MUST be set to FALSE, because `onlyContainsUserCerts` is set to TRUE. Therefore, these fields must not be included at all, because they have FALSE as their default value.

**`onlySomeReasons`**: our CRLs contain revocations for all reason codes, so this optional field should not appear.

**`indirectCRL`**: our CRLs are signed directly by the same issuer as all certificates contained within them, so this field should be set to FALSE, and therefore should be omitted as it has FALSE as its default value.

So if we were to include the Issuing Distribution Point in our CRLs contain only the `onlyContainsUserCerts` field, set to TRUE.

Interestingly, despite the language stating that the `onlyContainsUserCerts` field MUST be set to TRUE, there is no language which says that the Issuing Distribution Point extension MUST be present. It is unclear to me if the former implies the latter.

Based on [discussion on MDSP](https://groups.google.com/a/mozilla.org/g/dev-security-policy/c/qhrGxLvyreU), we should include the distributionPoint field of this extension to help mitigate replacement attacks. In theory, an on-path attacker could replace a given CRL shard with a different shard that does not contain a particular serial, preventing that certificate from showing up as revoked. There are many ways to protect against this (we already ensure all of our CRLs in a single generation have the same CRL Number, and we could easily update the URLs disclosed in CCADB to be https://) but including a distributionPoint URL is the simplest.