Use AIA CA Issuers field to generate issuer certificate link

Currently the issuer is linked via `Link: </acme/issuer-cert>;rel="up"` for certificates. If an already existing certificate is fetched again now, it would fetch the wrong intermediate certificate with the new X3 intermediate instead of the old X1.


Good point @kelunik, thanks for filing. One possible approach: The WFE, when serving a certificate, can parse it and extract the AIA CA Issuers field, and use that as the value of the Link relation. This would also be a nice simple approach to generating the Link relation on first issuance, since it would allow issuance from multiple issuers (e.g. RSA and ECDSA) without additional coordination between the WFE and the CA. The main thing we need to check is that the official client can correctly download and use the certificate provided at the AIA Issuers URL. Would you be interested in doing some testing in that direction?

Don't have time during the next week, might have some time afterwards, but I'm not sure yet.

I did some testing with the official client. Right now, it expects a DER-encoded cert and fails with the PEM-encoded AIA URL.

We could theoretically do some content negotiation based on the `Accept` header (which the client seems to be sending), and use either the AIA URL or the current URL based on that. In order to benefit from this, all clients would have to change their `Accept` headers first. This would also lead to some hard-to-debug scenarios for clients once multiple issuers are supported - a client asking for PEM would receive the correct issuer certificate, while a client asking for DER would receive the old issuer certificate without additional logic in boulder for that case. Based on that, I don't think this is a viable solution.

Another approach would be to serve DER-encoded issuer certificates at the AIA URL. I did a quick check, and it seems many CAs use DER encoding for their AIA URLs (confirmed for GitHub and Google). I'm not sure if this would be a breaking change for some other system, though.

One last thing to consider is that the AIA URL is HTTP-only (and, by my reading of the RFC, that's how it needs to be), meaning a MitM could potentially inject a malicious issuer certificate. In a typical apache- or nginx-configuration, I can't think of a vector that would result in more than a denial of service. However, there's some server software that expects cert, chain and privkey in one file (e.g. `HAProxy`). Depending on how (and in which order) that software parses the file, and whether clients blindly accept any content as a chain file, it would be possible for a MitM to inject a second certificate and key pair under the attacker's control, allowing the MitM to potentially MitM users of that service. Thoughts on this?

I've prepared a patch in https://github.com/patf/boulder/commit/de50720eb327fe381f5f67656d06f91d5153d81b in case you want to go for option two. (Warning: Tests still need to be fixed.)

The spec states that DER-encoded is the default if no `Accept` header is specified, so most clients will just expect a DER-encoded response.

> The default format of the certificate is DER (application/pkix-cert). The client may request other formats by including an Accept header in its request.

I think we need to fix our AIA URLs to serve DER-encoded issuer certificates anyhow. [RFC5280 says this:](https://tools.ietf.org/html/rfc5280#page-50)

>   Where the information is available via HTTP or FTP, accessLocation
   MUST be a uniformResourceIdentifier and the URI MUST point to either
   a single DER encoded certificate as specified in [RFC2585] or a
   collection of certificates in a BER or DER encoded "certs-only" CMS
   message as specified in [RFC2797].

I'll file an issue and get that fixed.

> One last thing to consider is that the AIA URL is HTTP-only (and, by my reading of the RFC, that's how it needs to be), meaning a MitM could potentially inject a malicious issuer certificate. In a typical apache or nginx config, I can't think of a vector that would result in more than a denial of service. However, there's some server software that expects cert, chain and privkey in one file (e.g. HAProxy). Depending on how (and in which order) that software parses the file, and whether clients blindly accept any content as a chain file, it would be possible for a MitM to inject a second certificate and key pair under the attacker's control, allowing the MitM to potentially MitM users of that service. Thoughts on this?

This is a good point. I don't see a way for the second scenario to fully work, but you're right that the use of HTTPS is a possible concern. We have a couple options:

 1. Ensure our Issuers links are also available over HTTPS, and rewrite them internally in Boulder.
 2. Have the spec say "clients must validate that the issuer URL contains a single issuer certificate and that the EE cert was signed by it.

I think I favor (1).

(1) sounds like a good plan. I'll add that to my patch and open a PR for this some time tomorrow.