Consider rejecting CSRs which contain any Subject information other than Common Name

When CSRs are presented as part of the Finalize call, we ensure that the CSR contains exactly the set of DNSNames (both from the Subject Common Name and from the subjectAltNames extension) as the original Order. However, the CSR *could* have other identifiers, such as IP addresses or email addresses. It could also include additional Subject information, such as an Organization or Locality. Although we would not include any such extra identifiers or information in the final certificate (because we do not copy anything from the CSR), [RFC 8555, Section 7.4](https://www.rfc-editor.org/rfc/rfc8555.html#section-7.4) indicates that we should probably reject the finalization request anyway:

> The CSR MUST indicate the exact same set of requested identifiers as the initial newOrder request.

> A request to finalize an order will result in an error if the CA is unwilling to issue a certificate corresponding to the submitted CSR. For example... [i]f the CSR and order identifiers differ


I understand why this is nice to have but I would request that this be announced as a breaking change well in advance of implementation in LE (if it's implemented at all). You will probably have statistics on how many CSRs are affected by this, presumably it's not a high number.

If you are using a CSR generated by an appliance then you can't remove any fields it chooses to populate, in addition some ACME clients (certes for example) have previously distributed example code which included unnecessary CSR attributes being populated (organisation name, locality etc: https://github.com/fszlin/certes#certificate) and I would imagine other libraries have also done this.

We've actually just pulled the numbers on this, and based on the surprisingly high percentage of otherwise-successful CSRs it would cause us to reject, we don't intend enforce this. I think the current plan of record is simply to document this decision in the Divergences file and close this issue.

The number we pulled were remarkably high - 12% of successful issuances had the Country field, as just one convenient example of a non-CN field in the Subject.

I looked into documenting this in the divergences doc but I think it's not actually necessary:

> The CSR MUST indicate the exact same
>   set of requested identifiers as the initial newOrder request.
>   Identifiers of type "dns" MUST appear either in the commonName
>   portion of the requested subject name or in an extensionRequest
>   attribute [[RFC2985](https://www.rfc-editor.org/rfc/rfc2985)] requesting a subjectAltName extension, or both.
>   (These identifiers may appear in any sort order.)  Specifications
>   that define new identifier types must specify where in the
>   certificate signing request these identifiers can appear.

To me, it's clear that the text means "identifiers" in the sense of ACME identifiers, and doesn't consider, e.g. Country and identifier. So there's no specification that the ACME server must reject CSRs with extra stuff in the Subject.

As pre-screening for acme clients it would perhaps be worth enforcing this in Pebble. I know most of us use pebble as part of our ACME client dev work.

Closing as we've considered and decided not to do this. Pebble is an interesting idea, though.