non-empty CAA RRSet for Wildcard domain accidentally forbids issuance

Consider a domain `example.com` with the following CAA record:
```
example.com 3600 IN CAA 0 iodef "mailto:webmaster@example.com"
```

The CAA "Relevant RRSet" algorithm described in [RFC 8659, Section 3](https://datatracker.ietf.org/doc/html/rfc8659#name-relevant-resource-record-se) says that this record is the relevant RRSet, even though it does not contain any `issue` or  `issuewild` records.

Suppose we are checking CAA for `example.com`. Then our [CAA validation routine](https://github.com/letsencrypt/boulder/blob/f6702fffe8aa5130807c9ae5dcab4d8d405977af/va/caa.go#L312-L384) will take the following steps:
1. Proceed because the caaSet does exist.
2. Proceed because there are no critical unknown records.
3. Short-circuit and return "true" (i.e. "issuance allowed") because there are no `issue` records and we are not attempting wildcard validation.

However, suppose that we are checking CAA for `*.example.com`. Then the same method will instead:
1. Proceed because the caaSet does exist.
2. Proceed because there are no critical unknown records.
3. Proceed because we are attempting wildcard validation.
4. Select the `caaSet.issue` records as the relevant set of records, since there are no issuewild records
5. Skip the whole `for` loop, because there are _also_ no issue records
6. Fall through to returning "false" at the bottom of the function

In other words, the escape hatch in step (3) works correctly for non-wildcard CAA, but doesn't work when checking for wildcards.

Thanks to https://community.letsencrypt.org/t/le-not-processing-caa-record-correctly/234398 for detecting this issue.