wfe: Add IP address rendering check to prepAuthorizationForDisplay

RFC 8738 places a restriction on the format in which we render IP address identifiers to ACME clients:

> The value field of the identifier MUST contain the textual form of the address as defined in [Section 2.1](https://www.rfc-editor.org/rfc/rfc1123#section-2.1) of [[RFC1123](https://datatracker.ietf.org/doc/html/rfc1123)] for IPv4 and in [Section 4](https://www.rfc-editor.org/rfc/rfc5952#section-4) of [[RFC5952](https://datatracker.ietf.org/doc/html/rfc5952)] for IPv6.

We pass all identifiers received in new-order requests through [`policy.ValidIP`](https://github.com/letsencrypt/boulder/blob/release-2025-06-16/policy/pa.go#L338), which ensures this.

However, we should augment this request-time enforcement with a render-time check inside [`wfe.prepAuthorizationForDisplay`](https://github.com/letsencrypt/boulder/blob/5ddd5acf990db7d632398c767537038e42b810a0/wfe2/wfe.go#L1215).