Support for trailing period in DNS domain names

This is related to client's issue https://github.com/letsencrypt/letsencrypt/issues/2065 which I (hopefully) fixed on that side in https://github.com/letsencrypt/letsencrypt/pull/2213

Right now the response for a domain name with trailing period is
```
An unexpected error occurred:
The request message was malformed :: Error creating new authz :: DNS label is too short
```
which comes from `policy/policy-authority.go:WillingToIssue` as far I can see. RFC 1035 and RFC 2181 referenced in the comment to that function don't explicitly forbid trailing periods, though they are incorrect according to preferred name syntax from section 2.3.1. in RFC 1035. The question is do you want to support it?



Per my comments on https://github.com/letsencrypt/letsencrypt/pull/2213 I don't think we should actually implement this in boulder because it's exactly the kind of thing that might [expose bugs in PKIX implementations](https://www.cs.utexas.edu/~shmat/shmat_oak14.pdf).  Let's just strip a trailing dot in the client and move on.

Agreed. Closing this one.

Thanks for the ticket, though!

Sure thing. Thanks for the interesting read :)