Use SHA256 instead of SHA1 for our SubjectKeyId/AuthorityKeyId fields

The SubjectKeyId and AuthorityKeyId fields in certificates technically can be computed in any opaque fashion, but practically we've been computing them using SHA1 for years.

We should move away from SHA1 and to SHA256 for two reasons:
1) Everyone wants to move away from SHA1, even for things that don't require cryptographic integrity. This will eventually allow libraries to even drop support for SHA1 entirely.
2) ARI wants the Issuer Key Hash in the request to be a SHA256 hash of the issuer's key. Using SHA256 for the AKI in our Subscriber Certs would allow ARI clients to pull this value directly from the end-entity certificate, rather than having to look up the Issuer certificate and compute it themselves.

However, making this switch would cause our end-entity certs to have a different value in their AKI than their Issuers have in the SKI, which would violate [RFC 5280 Section 4.2.1.2](https://datatracker.ietf.org/doc/html/rfc5280#section-4.2.1.2):

> In conforming CA certificates, the value of the subject key identifier MUST be the value placed in the key identifier field of the authority key identifier extension (Section 4.2.1.1) of certificates issued by the subject of this certificate.

Therefore, we should make this switch as part of our next intermediate ceremony, and double-check that Boulder and the go stdlib will do the correct thing.