Remove truncation from OCSP `thisUpdate`

When producing OCSP responses, Boulder currently truncates the `thisUpdate` timestamp to the previous hour:
https://github.com/letsencrypt/boulder/blob/eb49d4487e62c15ad26a24f492208237a275457f/ca/ocsp.go#L130-L134

However, we do not control the `producedAt` timestamp, which is set automatically by [x/crypto/ocsp.CreateResponse](https://pkg.go.dev/golang.org/x/crypto/ocsp#CreateResponse):
> The ProducedAt date is automatically set to the current date, to the nearest minute.

This can lead to OCSP responses where the `thisUpdate` and `producedAt` are quite different:
```
OCSP Response Data:
    OCSP Response Status: successful (0x0)
    Response Type: Basic OCSP Response
    Version: 1 (0x0)
    Responder Id: C = US, O = Let's Encrypt, CN = R3
    Produced At: Dec  7 02:35:00 2023 GMT
    Responses:
    Certificate ID:
      Hash Algorithm: sha1
      Issuer Name Hash: 48DAC9A0FB2BD32D4FF0DE68D2F567B735F9B3C4
      Issuer Key Hash: 142EB317B75856CBAE500940E61FAF9D8B14C2C6
      Serial Number: 04C20F59E6B90FD4675C6E40DA22877EBF1B
    Cert Status: good
    This Update: Dec  7 02:00:00 2023 GMT
    Next Update: Dec 14 01:59:58 2023 GMT

    Signature Algorithm: sha256WithRSAEncryption
    Signature Value: <snip>
```

[RFC 6960, Section 2](https://datatracker.ietf.org/doc/html/rfc6960#section-2.4) says that the semantics of these fields are:
> thisUpdate: The most recent time at which the status being indicated is known by the responder to have been correct.
> producedAt The time at which the OCSP responder signed this response.

Since we always look up the status from the source of truth (database) immediately before signing an OCSP response, these two fields should carry approximately the same value. We should change the `thisUpdate` field to be truncated to the nearest minute, rather than hour, to match.