Improve ocsp-responder caching logic

Currently, ocsp-responder has two pieces of code related to setting the cache properties of ocsp responses it serves:

https://github.com/letsencrypt/boulder/blob/52c865f621236d9770445fd6a2ab5bbef7a7e53f/cmd/ocsp-responder/main.go#L224-L226

https://github.com/letsencrypt/boulder/blob/52c865f621236d9770445fd6a2ab5bbef7a7e53f/ocsp/responder.go#L388-L403

* The second code snippet should actually use the config value from the first (as far as I can tell, that config value is not used _anywhere_)
* The actual max age should be computed as "the configured maxage seconds, or the amount of time from now until the next update should be available, whichever is less"
* The "amount of time from now until the next update should be available" should be calculated not until the current response's nextUpdate field, but rather until the time at which root programs require the response to have been updated. Ideally this logic should be a direct implementation of the relevant requirements, not a hard-coded amount of time, in case we change the validity interval of our OCSP responses in the future.

(It should be noted that we believe these changes will essentially be no-ops: the actual caching behavior of our CDN is not controlled by the `Cache-Control` header; the header is rather meant for user-agents. But the changes are likely worth making anyway.)

I had thought the max-age = time until nextUpdate was [specified in RFC 5019, but nope](https://datatracker.ietf.org/doc/html/rfc5019#section-6.2):

>    cache-control   Contains a number of caching directives.
>                * max-age=<n>     -where n is a time value later than
>                                   thisUpdate but earlier than
>                                   nextUpdate.

So setting it to our planned update time makes sense. Setting it to the (longer) root program specified update time risks overrunning that time (for instance if our CDN was configured to obey these headers).

Also it's odd that RFC 5019 specifies Expires and max-age differently. I had thought they were different ways to say the same thing:

RFC 5019:
>   expires         Specifies how long the response is considered fresh.
>                   This date and time will be the same as the nextUpdate
>                   timestamp in the OCSP response itself.

[RFC 7234 § 5.3](https://datatracker.ietf.org/doc/html/rfc7234#section-5.3):
> 5.3.  Expires
>
>   The "Expires" header field gives the date/time after which the
>   response is considered stale.  See [Section 4.2](https://datatracker.ietf.org/doc/html/rfc7234#section-4.2) for further discussion
>   of the freshness model.

[RFC 7234 § 5.2.2.8](https://datatracker.ietf.org/doc/html/rfc7234#section-5.2.2.8):
> 5.2.2.8.  max-age
>
>   The "max-age" response directive indicates that the response is to be
>   considered stale after its age is greater than the specified number
>   of seconds.

As we [announced late last year](https://letsencrypt.org/2024/12/05/ending-ocsp/), we are replacing OCSP URIs in our certificates with CRL URLs and turning down our OCSP service. We do not intend to make further improvements to our OCSP-responder infrastructure between now and when we decommission that service.