Write to issuedNames, keyHashToSerial, and certificateStatus at serial allocation time

Issuance goes through three steps, in terms of what is written to the database:

 1. Write serial to the `serials` table.
 2. Write precertificate to the `precertificates` table, and also write to `issuedNames`, `keyHashToSerial`, and `certificateStatus`.
 3. Write final certificate to the `certificates` table.

(plus audit logging at each step). Sometimes writing the precertificate and other items in step (2) will fail, so we have the orphan queue to repeatedly retry until we can insert them. However, this is a deployment hassle, since each CA instance needs a unique and persistent place to write its orphan queue, and we need to make sure the queue is empty before decommissioning any CA instance.

Instead, we should make the order:

 1. Write serial to the `serials` table, and also write to `issuedNames`, `keyHashToSerial`, and `certificateStatus`.
 2. Write precertificate to the `precertificates` table.
 3. Write final certificate to the `certificates` table.

This ensures that we have precommitted to all the metadata tables before we attempt to sign anything.

The BRs say:

> If the OCSP responder receives a request for the status of a certificate serial number that
is “unused”, then the responder SHOULD NOT respond with a “good” status. If the OCSP
responder is for a CA that is not Technically Constrained in line with Section 7.1.5, the
responder MUST NOT respond with a “good” status for such requests.
The CA SHOULD monitor the OCSP responder for requests for “unused” serial numbers
as part of its security response procedures.
The OCSP responder MAY provide definitive responses about “reserved” certificate
serial numbers, as if there was a corresponding Certificate that matches the
Precertificate [RFC6962].
> A certificate serial number within an OCSP request is one of the following three options:
> 1. “assigned” if a Certificate with that serial number has been issued by the Issuing
CA, using any current or previous key associated with that CA subject; or
> 2. “reserved” if a Precertificate [RFC6962] with that serial number has been issued by
a. the Issuing CA; or
> b. a Precertificate Signing Certificate [RFC6962] associated with the Issuing CA;
or
> 3. “unused” if neither of the previous conditions are met.

Note that "reserved" refers to issuance of the precertificate, so corresponds roughly to step (2), not step (1).

If there is an error writing to the database in step (2), we cannot say definitively that the Precertificate was issued, so we MUST NOT respond with "good". Instead, if a serial was written to the `serials` table but there has been no subsequent write to the precertificates talbe, we should return the OCSP error `internalError`. To achieve this, the initial write to the `certificateStatus` table should set the status to -1, and the ocsp-responder should treat that as a special code meaning to serve "internalError." Subsequently, the write to the precertificates table should be accompanied (in a transaction) with an UPDATE to the `certificateStatus` table setting status to 0 ("good").

With these changes made, we should be able to remove the orphan queue.

For deployability, we would first need to deploy a change where the INSERTs into issuedNames and keyHashToSerial are changes to INSERT IGNORE, and the INSERT into certificateStatus is changed to `INSERT ON DUPLICATE KEY UPDATE status SET status = ...`. That way, they can succeed whether the call to AddSerial added those fields or not.

Alternately (for deployability), we could define new SA methods, `AddSerial2`, `AddPrecertificate2`, and `AddCertificate2`, which would exhibit the new behavior, and the CA would choose between the `AddSerial`/`AddPrecertificate`/`AddCertificate` flow and the `AddSerial2`/`AddPrecertificate2`/`AddCertificate2` flow based on a feature flag.

minor nit: I believe the initial write to the `certificateStatus` table should set the status to "unknown" (via adding a new `core.OCSPStatusUnknown` constant), because that `status` column of that table is a `varchar(255)`, not an int. The `revokedReason` is the only int enum column on that table, unfortunately.

I'm sure you put thought into this already, but can we justify why `internalError` (indicating that "the OCSP responder reached an inconsistent internal state" [RFC 6960, Section 2.3]) is the correct response message to serve, rather than a definitive response with internal status `unknown` (indicating that "the responder doesn't know about the certificate being requested" [RFC 6960, Section 2.2])? Personally, I think that the latter would make more sense.

In particular, I think we should have a principled policy for what errors or statuses we return in all cases. My thinking is something like:
- cannot parse: `malformedRequest`
- unrecognized issuer: `unauthorized`
- serial which is not in the serials table: `unauthorized`
- serial which is in the serials table but not in the status table (due to partition dropping): `unauthorized`
- serial which has a status (either "good", "revoked", or "unknown"): `successful` with that status
- any lookup operation failed: `internalError`

Done in #6807. We wound up deciding to do this by repurposing the precertificates table.