Improve RFC 5280 compliance in regards to subject and SAN

Boulder currently uses CN=[domain-name] as a distinguished name in a subjects certificate. This may not be the ideal implementation based on the following:

From section 4.1.2.4. in RFC 5280 on subject

> In addition, implementations of this specification MUST be prepared
>    to receive the domainComponent attribute, as defined in [RFC4519].
>    The Domain Name System (DNS) provides a hierarchical resource
>    labeling system.  This attribute provides a convenient mechanism for
>    organizations that wish to use DNs that parallel their DNS names.
>    This is not a replacement for the dNSName component of the
>    alternative name extensions.

Furthermore, from section 4.2.1.6. on Subject Alternative Name

> Whenever such identities are to be bound into a
>    certificate, the subject alternative name (or issuer alternative
>    name) extension MUST be used; however, a DNS name MAY also be
>    represented in the subject field using the **domainComponent** attribute

Also from 4.2.1.6. 

> If the subject field
>    contains an empty sequence, then the issuing CA MUST include a
>    subjectAltName extension that is marked as critical.  When including
>    the subjectAltName extension in a certificate that has a non-empty
>    subject distinguished name, conforming CAs SHOULD mark the
>    subjectAltName extension as **non-critical.**

I propose boulder use one of the following:
1. Drop CN=[domain-name] and have the certificates subject be empty and use SAN only, and mark the extension as critical
2. Drop CN=[domain-name] and instead use DC=[domain-name]. This will result in the SAN be marked as non critical and better compliance with RFC 5280. This may not be possible until https://github.com/cloudflare/cfssl/issues/632 is resolved.


Related: #40.

Is this real issue? Or perhaps something that can be moved to the mailing list for discussion?

> Drop CN=[domain-name] and have the certificates subject be empty and use SAN only, and mark the extension as critical

I have heard that empty subjects / critical SANs have compatibility problems. I haven't dug into the details myself, but this is probably not the right approach.

> Drop CN=[domain-name] and instead use DC=[domain-name]. This will result in the SAN be marked as non critical and better compliance with RFC 5280. This may not be possible until cloudflare/cfssl#632 is resolved.

This might be a good approach! We've been thinking of doing something along these lines, but using domainComponent may make more sense. Need to read the docs a bit more and do some testing.

Would it be possible to add integration testing for a signed certificate against all major browsers and operating systems? Or is that something completely out of the question?

That would be super cool! Ideally we'd want to use something like webpagetest.org rather than trying to write our own integrations. However, in order to be able to test different signing configurations, we'd need to configure webpagetest.org to trust a test certificate, which is almost certainly not supported.

Maybe there's some framework already available to spin up a bunch of browsers in VMs? But we'd still have the problem of telling them to trust a given cert in an automated way.

Did we not already solve this by populating the subject field 'SerialNumber' if no CN is provided in order to side-step the problems with empty subjects?

@rolandshoemaker I opened this to suggest conforming more to the standards of the protocol. When using a dnsName as an identifier the 'most' compliant way to create the certificate is either using the DomainComponent of the DN or using dnsName in the subject alternate name extension. 

I was unaware of the lack of support and compliance by some particular implementations, I mean common name is not even supposed to be used any more. I have no problem with this issue being closed, if you think it is a non issue.

I think we decided what we currently do is basically fine? Closing unless anyone has further thoughts on this.

The current plan is: Wait for the ballot at CA/Browser Forum to make dnQualifier clearly not "Subject Identity Information," then use that.

Feel free to close 