Checking HTTP challenge adds port number to Host header

I've tested using `letsencrypt` utility using manual authentication, utilizing already configured `Lighttpd` web server, configured with several virtual hosts. My challenges for virtualhost `www.0skar.cz` failed with `unauthorized` error status from the boulder.

Investigating the logs, I found out that the boulder adds `:443` to the `Host` header, making the `lighttpd` use a default virtual host, thus failing with 404 error. Here is the relevant part of the access log - first entry is a successful attempt from the `letsencrypt` utility itself, second is the unsuccessful attempt from the `boulder`:

```
2001:718:1:6::134:196 www.0skar.cz - [19/Sep/2015:22:47:55 +0200] "GET /.well-known/acme-challenge/xkg51pfUCM03oIi_p5dR6A2LEUM9AW92RNnCvWwot74 HTTP/1.1" 200 911 "-" "python-requests/2.7.0 CPython/2.7.9 Linux/4.1.5"
66.133.109.36 www.0skar.cz:443 - [19/Sep/2015:22:47:56 +0200] "GET /.well-known/acme-challenge/xkg51pfUCM03oIi_p5dR6A2LEUM9AW92RNnCvWwot74 HTTP/1.1" 404 345 "-" "boulder (LetsEncrypt.org)"
```

According to [RFC 7230 section 5.4](http://tools.ietf.org/html/rfc7230#section-5.4), the `Host` header can indeed carry port information, however, it's quite uncommon not to omit port number for standard port number 443. The problem can be certainly fixed in the `Lighttpd` configuration, however I think that fixing `boulder` so it acts consistently with the rest of HTTP clients would save lots of debugging efforts for users. 

Not going to approve for GA but this is approved for merging as a non-GA fix.

This is only relevant for the TLS variant of the SimpleHTTP challenge, which we will be removing before GA.  @bdaehlie, propose closing this one WONTFIX.

@bifurcation: I believe this also applies for port 80.