Properly validate punycode

We don't check the unicode normalization form when validating punycode labels, which is required by RFC 5280 and RFC 5893 section 5.4.