Missing accounturi field in dns-persist-01 challenges

While attempting to create a [dns-persist-01](https://www.ietf.org/archive/id/draft-ietf-acme-dns-persist-01.html) challenge on the staging API, I received the following.

```json
{
	"type": "dns-persist-01",
	"url": "https://acme-staging-v02.api.letsencrypt.org/acme/chall/281943993/466329203/5pPXaw",
	"status": "pending",
	"issuer-domain-names": [
		"letsencrypt.org"
	]
}
```

This seems incorrect.

Section 3.1 Challenge Object of the Internet-Draft clearly specifies (redacted irrelevant parts):

```
3.1.  Challenge Object

   The challenge object for "dns-persist-01" contains the following
   fields:

   *  *type* (required, string): ...
   *  *url* (required, string): ...
   *  *status* (required, string): ...

   *  *accounturi* (required, string): A URI identifying the ACME
      account requesting validation, using the identifier format
      specified in [RFC8657], Section 3.  This is the URI the CA expects
      in the DNS record and the mechanism by which the CA communicates
      alternative URIs to the client.  Clients that pre-provisioned a
      record using their ACME account URL ([RFC8555], Section 7.3)
      SHOULD verify the value identifies the same account.
```

Yet the challenge I received from LE doesn't have it.

I'm not sure where the best place to report this is.
Boulder seems like the most relevant software project,
so here is my report.
I also put this on the [Forum](https://community.letsencrypt.org/t/missing-accounturi-field-in-le-dns-persist-01-challenges/246486).

I think this is a duplicate (or subtask) of #8690 

Correct.